<!DOCTYPE html>
<html>
<head>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "login.js" type="text/javascript"></script>
</head>
<body>
<!-- changed -->
    <h2 class="w3-text-white">Add buyer Form</h2>
 <p id ="addDiv">
    <label class="w3-text-white" ><b>Buyer Username</b></label>
    <input class="w3-input w3-border" name="bname" type="text" id ="bname"></p>
    <label class="w3-text-white" ><b>Land ID</b></label>
    <input class="w3-input w3-border" name="bid" type="Number" id ="bid"></p>
    <button class="w3-btn w3-blue" id="addform">Add Buyer</button></p>

</body>
</html>
