<!DOCTYPE html>
<html>
<style>
span{
  font-size: 25px;
  color: #ffff;
  background-color: #2881DB;
  padding: 10px;

}
div{
  font-size: 25px;
  color: #ffff;
  background-color: #2881DB;
  padding: 50px;
}
</style>
<script src = "login.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
  $("#backtohome").click(function(){
    window.location.href='/';
  });
});
</script>
<body>
<span>Welcome : <%= profileData.name %> Your profile is Completed following is your details<br></span>
<div>
            Email:     <%= profileData.email %><br>
            Phone:    <%= profileData.phone %><br>
            Aadhaar:     <%= profileData.aadhaar %><br>
</div>

<div id="saleDiv" >
  <button class="w3-btn w3-blue" id ="saleBtn">sell land</button></p>
</div>
<div>
<button class="w3-btn w3-blue" id="backtohome">Back to Home</button></p>
</body>
</html>