<html>
<title>USER</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src = "login.js" type="text/javascript"></script>

<body class="w3-container w3-margin">

  <h2 class="w3-text-blue">Welcome to NOTARY Login</h2>
  
<div id="notloginDiv">
  <button class="w3-btn w3-blue" id ="notloginBtn">Login</button></p>
</div>
<div id="dataDiv"></div>
</div>
<body>
</html>
