<!DOCTYPE html>
<html>
<head>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "login.js" type="text/javascript"></script>
</head>
<style>
span{
  font-size: 35px;
  color: #ffff;
  background-color: #2881DB;
  padding: 10px;

}
</style>
<script>
</script>
<body>

  <p>
    <label class="w3-text-blue"><b>Email</b></label>
    <input class="w3-input w3-border" name="email" type="text"  id ="email"></p>
    <p>
    <label class="w3-text-blue" id = "pass"><b>Mobile Number</b></label>
    <input class="w3-input w3-border" name="phone" type="Number" id ="phone"></p>
    <p>
    <label class="w3-text-blue" id = "pass"><b>Aadhaar Number</b></label>
    <input class="w3-input w3-border" name="aadhaar" type="Number" id ="aadhaar"></p>
    <p>
    <label class="w3-text-blue" id = "pass"><b>Password</b></label>
    <input class="w3-input w3-border" name="pass" type="password" id ="upass"></p>
    <p>
    <button class="w3-btn w3-blue" id="saveBtn">Save</button></p>

</body>
</html>